<h1> Welcome to calculator </h1>

<form action = '/answer' method = 'post'>

    <label for="name">Enter your name:</label><br>
    <input type = 'text' name= 'name'><br>
    <label for="num1">Enter a number:<label><br>
    <input type= 'number' name= 'num1'><br>
    <label for="num2">Enter another number:<label><br>
    <input type= 'number' name= 'num2'><br>
    <input type= 'submit' value = 'Submit'>

</form>